[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "4.12.3"
requests = "2.31.0"
chromadb = "0.4.22"
langchain = "0.1.4"
langchain-community = "0.0.16"
openai = "1.10.0"
langchain-openai = "0.0.5"
lxml = "5.1.0"
tiktoken = "0.5.2"
python-dotenv = "1.0.1" 
slack-bolt = "1.18.1"

[requires]
python_version = "3.11"
